#result-container {
    text-align: center;
}
#imc-number, #imc-info, #result-container h3 {
    font-size: 1.7rem;
    margin-top: 5px;
}
.table-header, .table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    width: 100%;
    border-bottom: 1px solid #ccc;

}
.table-header h4, .table-data p  {
    flex: 1;
}
.table-header h4:nth-child(3), .table-data p:nth-child(3) {
    max-width: 80px;
}
.table-data p:nth-child(3) {
    font-size: 1rem;
}
.good {
    color: #12db34;
}
.low {
    color: #dbce12;
}
.medium  {
    color: #db6212;
}
.high {
    color: #db1912;
}